<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет proudcts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<!--1.	Выводите новости в следующем виде — заголовок, дата публикации в формате (день.месяц.год),
затем первые 20 слов текста статьи.-->
<h1>Все публикации</h1>
<!--2.	Сверху страницы должно быть выведено количество всех новостей (используется фильтр news|length).-->
<h3>{{ time_now|date:'d M Y' }}, Всего публикаций: {{ posts|length }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты.
    С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
    {% if posts %} <!-- Выводим товары только, если они есть с помощью тега if -->
        <table>
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Текст
                </th>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title }}
                </td>
                <td>
                    {{ post.dateCreation|date:'d M Y' }}
                </td>
                <td>
                    {{ post.categoryType }}
                </td>
                <td>
                    {{ post.author.authorUser.username }}
                </td>
                <td>
                    {{ post.text|truncatewords:20 }}
                </td>



            </tr>
        {% endfor %}
        </table>
       <!-- {{ posts }} -->
    {% else %} <!-- Если товаров нет, то говорим, что товаров нет ;) -->
        <h2>Публикаций нет!</h2>
    {% endif %}
{% endblock content %}


