<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load my_filters %} <!-- не забываем заранее загружать наши фильтры! -->
<!-- Название у нас будет proudcts -->
{% block title %}
news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<!--1.	Выводите новости в следующем виде — заголовок, дата публикации в формате (день.месяц.год),
затем первые 20 слов текста статьи.-->
<h1>Все публикации</h1>
<!--2.	Сверху страницы должно быть выведено количество всех новостей (используется фильтр news|length).-->
<h3>Сейчас {{ time_now|date:'d F Y / H:i' }},
    <!-- {{ time_now|time:"H:i" }}-->
    Всего публикаций: {{ news|length }} {{ PostList1.queryset.count}} </h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты.
    С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
    {% if news %} <!-- Выводим товары только, если они есть с помощью тега if -->
        <table align="center">
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Текст
                </th>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    <a href="{% url 'post' post.id %}"><b>{{ post.title | censor }}</b></a>
                    <br><a href="{% url 'post_update' post.id %}"><i>Редактировать</i></a> <!-- добавим ссылку на редактирование -->
                    <a href="{% url 'post_delete' post.id %}"><i> Удалить </i></a> <!-- добавим ссылку на удаление -->

                </td>
                <td>
                    {{ post.dateCreation|date:'d M Y / H:i' }}
                </td>
                <td>
                    {{ post.categoryType }}
                </td>
                <td>
                    {{ post.author.authorUser.username }}
                </td>
                <td>

                    <!-- {{ post.text|truncatechars:51 }} -->
                    {{ post.text | censor | truncatechars:51 }}
                </td>



            </tr>
        {% endfor %}
        </table>
<p><a href="{% url 'post_create' %}">Добавить новую публикацию</a> <br>
    <a href="{% url 'search' %}">Поиск по публикациям</a> <br>
      <!-- Проверяем что поддерживается постраничный вывод -->
        {% if is_paginated %}

            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    {% else %} <!-- Если товаров нет, то говорим, что товаров нет ;) -->
        <h2>Публикаций нет!</h2>
    {% endif %}
<!-- еперь нам нужна только готовая форма и кнопка  <form method="POST">
    {% csrf_token %}
    {{ form }} Т
    <input type="submit" value="Добавить публикацию">
</form>-->
{% endblock content %}

