<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load my_filters %} <!-- не забываем заранее загружать наши фильтры! -->
<!-- Название у нас будет proudcts -->
{% block title %}
news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<!--1.	Выводите новости в следующем виде — заголовок, дата публикации в формате (день.месяц.год),
затем первые 20 слов текста статьи.-->
<h1>Все публикации</h1>
<!--2.	Сверху страницы должно быть выведено количество всех новостей (используется фильтр news|length).-->
<h3>Сейчас {{ time_now|date:'d F Y / H:i' }},
    <!-- {{ time_now|time:"H:i" }}-->
    Всего публикаций: {{ news|length }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты.
    С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
    {% if news %} <!-- Выводим товары только, если они есть с помощью тега if -->
        <table>
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Текст
                </th>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    {{ post.title | censor }}
                </td>
                <td>
                    {{ post.dateCreation|date:'d M Y / H:i' }}
                </td>
                <td>
                    {{ post.categoryType }}
                </td>
                <td>
                    {{ post.author.authorUser.username }}
                </td>
                <td>

                    <!-- {{ post.text|truncatechars:51 }} -->
                    {{ post.text | censor | truncatechars:51 }}
                </td>



            </tr>
        {% endfor %}
        </table>
       <!-- {{ posts }} -->
    {% else %} <!-- Если товаров нет, то говорим, что товаров нет ;) -->
        <h2>Публикаций нет!</h2>
    {% endif %}
{% endblock content %}


